In [1]:
import pandas as pd
import numpy as np

In [2]:
from xml.sax import ContentHandler, parse

# Reference https://goo.gl/KaOBG3
class ExcelHandler(ContentHandler):
    def __init__(self):
        self.chars = [  ]
        self.cells = [  ]
        self.rows = [  ]
        self.tables = [  ]
    def characters(self, content):
        self.chars.append(content)
    def startElement(self, name, atts):
        if name=="Cell":
            self.chars = [  ]
        elif name=="Row":
            self.cells=[  ]
        elif name=="Table":
            self.rows = [  ]
    def endElement(self, name):
        if name=="Cell":
            self.cells.append(''.join(self.chars))
        elif name=="Row":
            self.rows.append(self.cells)
        elif name=="Table":
            self.tables.append(self.rows)

excelHandler = ExcelHandler()
parse('../Data/raw/ADAPTIVETransactionSearchPLJeremyResults354.xls', excelHandler)
df1 = pd.DataFrame(excelHandler.tables[0][1:], columns=excelHandler.tables[0][0])

In [3]:
df1

,Date,Period,GL Account,Document Number,Program,Initiative,Project,Restriction,Grant,Amount,Vendor Name,Employee Name,Memo,Amount (Credit),Amount (Debit),Client,Transaction Number,Type,Vendor Rate,Vendor Contract Expiration Date
0,2020-07-01T00:00:00,Jul 2020,5010 Contributions Revenue : Foundation Contri...,JE5152,Development,DEV - Admin,Donation : Donation,2-Temporary Restricted,WRI - Islands FY20,50000.00,,,WRI - Islands FY20,50000.00,,,JOURNAL5152,Journal,,
1,2020-09-30T00:00:00,Sep 2020,5010 Contributions Revenue : Foundation Contri...,JE5424,Development,DEV - Admin,Donation : Donation,2-Temporary Restricted,WRI - Islands FY20,50000.00,,,WRI - Islands FY20,50000.00,,,JOURNAL5424,Journal,,
2,2020-10-31T00:00:00,Oct 2020,5010 Contributions Revenue : Foundation Contri...,JE5578,Development,DEV - Admin,Donation : Donation,2-Temporary Restricted,WRI - Islands FY20,150000.00,,,WRI - Islands FY20,150000.00,,,JOURNAL5578,Journal,,
3,2020-07-31T00:00:00,Jul 2020,7020 Salaries & Wages : Salaries & Wages,JE5137,Islands,IS - Islands,*Restricted : NDC Partnerships CAEP - Belize,1-Unrestricted,WRI - Islands FY20,242.53,,,JULY 2020 000626 Sidney Jules *Restricted : ND...,,242.53,,JOURNAL5137,Journal,,
4,2020-07-31T00:00:00,Jul 2020,7020 Salaries & Wages : Salaries & Wages,JE5137,Islands,IS - Islands,*Restricted : NDC Partnerships CAEP - Belize,1-Unrestricted,WRI - Islands FY20,2740.03,,,JULY 2020 000877 Shelley Backstrom *Restricted...,,2740.03,,JOURNAL5137,Journal,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73434,2020-08-31T00:00:00,Aug 2020,5430 Other Revenue : Other Income,JE5179,,,,,,4118.53,,,Adjustment of other payables from HQ,4118.53,,,JOURNAL5179,Journal,,
73435,2020-08-31T00:00:00,Aug 2020,7385 Other Operating Expenses : Bank/Credit Ca...,JE5179,,,,,,7.07,,,Bank charge - Finance,,7.07,,JOURNAL5179,Journal,,
73436,2020-08-31T00:00:00,Aug 2020,7750 Non-Operating Expenses : Foreign Currency...,JE5179,,,,,,1008.00,,,Carry-out exchanges gain or loss,,1008.00,,JOURNAL5179,Journal,,
73437,2020-08-31T00:00:00,Aug 2020,7750 Non-Operating Expenses : Foreign Currency...,JE5198,,,,,,66.59,,,RMII Foreign Currency Adjustment to tie to DSA...,,66.59,,JOURNAL5198,Journal,,
73438,Overall Total,,,,,,,,,80734033.99,,,,103572849.21,88094116.42,,,,,

In [4]:
excelHandler = ExcelHandler()
parse('../Data/raw/Employees760.xls', excelHandler)
employee_list = pd.DataFrame(excelHandler.tables[0][1:], columns=excelHandler.tables[0][0])

In [5]:
employee_list.head()

,Inactive,Internal ID,Name,Job Title,Program,Monthly Bonus Amount,Initiatives,Termination/Release Date,Hourly Rate,External ID
0,No,94538,Aaron Davitt,Principal Analyst,WattTime,,WAT - Admin,,,000978
1,No,45398,Aaron G Glazer,Associate,Carbon-Free Electricity,200.00,POW - Admin,,,000802
2,No,93272,Aaron Schwartz,Intern,Carbon-Free Electricity,,POW - Admin,2020-09-04T00:00:00,,000937
3,No,92131,Abhishek Jain,Intern,Carbon-Free Buildings,.00,BLD - Admin,2020-10-31T00:00:00,,000943
4,No,3793,Adam Klauber,Director,Industry,,INY - Admin,2019-05-17T00:00:00,,000524

In [6]:
EmployeeNameandID = employee_list[['Name', 'External ID']]

In [7]:
EmployeeNameandID['External ID'].replace('', np.nan, inplace=True)

C:\Users\Jeremy Wendt\anaconda3\lib\site-packages\pandas\core\series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [8]:
EmployeeNameandID.dropna(subset=['External ID'], inplace=True)

<ipython-input-8-32126b0cb961>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  EmployeeNameandID.dropna(subset=['External ID'], inplace=True)

In [9]:
len(EmployeeNameandID)

447

In [10]:
employee_id_list = employee_list['External ID'].tolist()

In [11]:
employee_id_list = list(filter(None, employee_id_list))

In [12]:
print(len(employee_id_list))

447

In [13]:
df1['Memo'] = df1['Memo'].astype('string')

In [14]:
df1.dtypes

Date                               object
Period                             object
GL Account                         object
Document Number                    object
Program                            object
Initiative                         object
Project                            object
Restriction                        object
Grant                              object
Amount                             object
Vendor Name                        object
Employee Name                      object
Memo                               string
Amount (Credit)                    object
Amount (Debit)                     object
Client                             object
Transaction Number                 object
Type                               object
Vendor Rate                        object
Vendor Contract Expiration Date    object
dtype: object

In [15]:
all_ids = '|'.join(employee_id_list)

In [16]:
all_ids

'000978|000802|000937|000943|000524|000631|001029|000952|000663|000981|000847|000945|000586|000620|000583|000622|000549|000550|000891|000977|000639|000563|000558|000447|000832|000913|000878|000935|000106|000453|000902|000539|000409|000595|000614|000574|000831|001012|000658|000889|000973|000554|000926|000499|000502|000951|000907|000863|000931|000885|000850|000919|000846|000638|001030|000229|000967|000972|000629|000476|000914|000572|000918|000293|000893|000936|000816|000879|000856|000635|000920|001028|000456|000131|000589|000827|000646|000566|000274|000569|000641|000826|000649|000851|000818|000912|000601|000437|000867|000580|000581|000403|000623|001017|000896|000643|000634|000472|000520|001022|000655|000815|000911|000984|000388|000895|000323|000624|000954|000849|000157|000823|000458|000890|000382|000428|000531|000479|001004|000396|000664|000400|000657|000480|000616|000408|000840|000988|000291|000559|000908|000821|000363|000933|000604|000401|000613|000905|000215|000445|001003|000925|000214|000651|000246|000598|000272|001013|000603|000415|000946|000579|000240|000991|000955|000804|000940|000844|000910|000985|000405|000578|000621|001014|000969|000610|000924|000894|000584|000301|000852|000391|000593|000544|000256|000611|000442|000625|000482|000439|000561|000899|000993|000511|000845|000886|000959|000386|000837|000645|000302|000864|000322|000543|000446|000127|000510|000533|000588|000862|000530|000968|001015|000420|000297|000560|000822|000617|000842|000808|000803|001016|001002|000953|000342|000987|000875|000929|000481|000303|000811|000974|000402|000836|000650|000971|000465|000900|000553|000443|000904|000587|000835|000605|000903|000504|000538|000555|000843|000360|000508|000656|000868|000870|000474|001005|000433|000223|000444|000661|000982|000378|000547|000503|000861|000970|000975|000371|000986|000869|000630|001011|000534|001008|000575|000522|000807|000640|000590|000385|000906|000591|000654|000364|000122|000881|000948|000475|000540|000932|000883|000532|000965|000647|000950|000425|000637|000956|001001|000506|000949|000493|000898|000232|000463|000612|000568|000507|000909|000546|000392|000107|000659|000577|000436|000813|000892|000865|000958|000627|000262|000619|000876|000901|000990|000941|000888|000225|000942|000478|000536|000599|000565|000636|000665|000994|000596|000648|000897|000997|000939|000947|000618|001027|000576|001000|000527|001025|000607|000801|000833|000542|000564|000512|000594|000535|000394|000957|000817|000500|000602|000570|000556|000820|000928|000264|000999|000642|000592|000548|000829|000267|000389|000567|000653|000340|000830|000311|000998|000517|000652|000573|000551|000150|000557|000809|000632|000597|000930|001006|001007|000628|000834|000585|000552|000887|000660|000562|000541|000608|000916|000606|000877|000921|000545|000996|000626|000806|000828|000917|000860|000571|000393|000449|000838|000934|000814|000866|000841|000966|000839|000633|000983|000882|001009|999999|000609|000529|000944|001010|000938|000615|000413|000537|000992|000518|000819|000644|000130|001031|000124|000116|000880|000923|000927|000884|000423|000848|000582|000411|000989|000872|000600|000976|000922|000424|000980'

In [17]:
def return_first(x):
    try:
        y = x[0]
    except:
        y = ""
    return y

In [18]:
df1['External ID'] = df1['Memo'].str.findall(all_ids).apply(return_first)

In [19]:
employee_name_list = employee_list['Name'].tolist()

In [20]:
employee_name_list = list(filter(None, employee_name_list))

In [21]:
all_names = '|'.join(employee_name_list)

In [22]:
all_names

'Aaron Davitt|Aaron G Glazer|Aaron Schwartz|Abhishek Jain|Adam Klauber|Adam McKittrick|Adefunke Sonaike|Adriana Cid|Agnes Li|Ailin Asadinejad|Aimee Schwartze|Aishwarya Jaishankar|Akshay Krishnan|Alexander Engel|Alexander J Prince|Alexander Klonick|Alexandra Chin|Alexandra Rotatori|Alexandra Tsubota|Alexis Tubb|Ali Kargar|Alicia Noriega|Alisa Petersen|Allison Crow|Aman Chitkara|Amanda Farthing|Amar Shah|Ambrosia Gensterblum|Amit Halevi|Amory Lovins|Amy Baum|Amy Dalton|Amy Egerter|Amy Westervelt|Ana  S Mifsud|Andrew Keeton|Angela Whitney|Angelique Fathy|Anish Tilak|Ankit Kalanki|Anna  Ledden|Anna Palmer|Annabelle Sullivan|Annalise Grueter|Annis Benn|Anthony Teixeira|Aparna Ramesh|Aradhana Gahlaut|Ashley  Wiles|Ashley Gremel|Ashley Tate|Audrey Allen|Audrey Rempher|Avery McEvoy|Avril Levasseur|Ben  Shapiro|Ben Holland|Ben Miller|Ben Serrurier|Benjamin Miller|Bianca Wachtel|Billy Mwanda|Bingqi Liu|Blair Swift|Bonny Joseph|Brad Mushovic|Brady Seals|Brent Butler|Brett Webster|Brian O\'Hanlon|Britta Gross|Bruce Nilles|Bryan Hassin|Caitlin Bonney|Caitlin Odom|Calista Ruh|Cara Carmichael|Cara Goldenberg|Carla Dunlap|Carla M Frisch|Carlyn Nading|Carol Nasta|Caroline Ott|Caroline Winslow|Caroline Zhu|Carolyn Hight|Charles  Teplin|Charles Bloch|Charles Cannon|Chathurika Gamage|Chelsea Bolton|Chelsea Samot|Cheng Zhang|Chiel Borenstein|Chinedum E Ezeagwula|Chris McClurg|Chris T Tallackson|Christian  Fong|Christian Roselund|Christine Phan|Christopher Bowman|Christopher Burgess|Christopher Nelder|Christopher Patino|Christy Lewis|Chuck Ray|Chung Im|Chuyun Zeng|Cindy Nguyen|Claire Henly|Claire McKenna|Claire Wang|Clarisse Lilley|Clay Stranger|Concur Integration|Connor Cox|Connor Usry|Connor Valaik|Coreina Chan|Cory Felder|Courtney Fairbrother|Courtney Fieldman|Craig Schiller|Curtis Probst|Cynthia Baker|Cynthia Ma|Cyril Yee|Dai Lin|Daniel Cross-Call|Daniel L Slanger|Daniel Wetzel|Danielle Li|Darius Nassiry|Datamigration User|David Labrador|David Levy|David Mullaney|David Paolella|David Robles|David Schlais|Debra Giallombardo|Denali Hussin|Denise Grab|Denise T Greene|Derek Hitchman|Devi Glick|Diego Hakim|Donna Breight|Douglas Miller|Ebunoluwa Ayandele|Edith Taylor|Edward Harvey|Edward Klock-McCook|Edward Whitaker|Elaine Hsieh|Elizabeth After|Elizabeth Hartman|Elizabeth Leach|Elizabeth O\'Grady|Ellen Franconi|Emily Beagle|Emily Davenport|Emily Goldfield|Emily McMahon|Emily Zhang|Eric Braswell|Eric Wanless|Erifili Draklellis|Estefania Marchan|Ethan Wampler|Evan Syers|Fang Feng|Frances Reuland|Gabriela De Oliveira Volpato|Garrett Fitzgerald|Gavin McCormick|Genevieve Lillis|Gennelle  Wilson|Geoff Hancock|Grace Mitchell|Grace Sweeney|Greg "Jerry" Hales|Greg Bohus|Gregory Hopkins|Gregory Rucks|Guy Wohl|Han Cai|Hayes Zirnhelt|Heather House|Heather McCreery|Hector Maglione|Helen  Zhang|Henry Richardson|Herve Touati|Holly Leonard|Iain Campbell|Ian T Kelly|Integrations User|Isaac Toussie|Ishan Saraswat|Jacob  Trumbull|Jacob Corvidae|Jacob Glassman|Jacob Mueller|James Gilman|James Mandel|James McLane|James Mitchell|James Newcomb|James Rohman|James Sherwood|Jamil Farbes|Jason Meyer|Jeannene Cruise Woolley|Jeffrey Waller|Jennifer Childs|Jennifer Gilley|Jennifer Goldman|Jennifer Stokes|Jeremy Freeman|Jeremy Wendt|Jeruld Weiland|Jesse Morris|Jessica Lund|Jessie Ciulla|Ji Chen|Jiayi Zhang|Jiayin Song|Joanna Unruh|Joanna Wagner|Joel Cofield|Joey  Cathcart|John Matson|John Perez|John Schroeder|Jon Creyts|Jonathan Kocher|Jonathan Rea|Jose E Rodriguez Jimenez|Joseph Goodman|Joshua Agenbroad|Joshua Brooks|Jubing Ge|Jules Kortenhorst|Julia Hofmann|Julia Meisel|Jun Shepard|Justin Locke|Kaily Bourg|Kaitlin Wutschel|Kaitlyn Bunker|Kaja Rebane|Kareem Dabbagh|Kareem Hammoud|Katelyn Searcy|Katerina Stephan|Katherine Chrisman|Katherine Mark|Kathleen Baireuther|Kathleen Mulvaney|Kathleen Wight|Kathryn Lau|Katie Ryan|Katie Siegner|Katrina  M Frank|Katya Whyte|Keenan Johnson|Kelly Carlin|Kelly Vaughn|Kendall Ernst|Kester Wade|Keto Zhang|Kevin Brehm|Kevin Haley|Kieran Coleman|Kiley Kroh|Kirsten Millar|Kirsten Seeborg|Koben Calhoun|Krishna Karra|Kristine Chan-Lizardo|Krutarth Jhaveri|Kyle Clark-Sutton|Lara Johnson|Lara Owens|Larissa Pauli|Lars Thomas Koch Blank|Laura Corso|Laura Hutchinson|Lauren Shwisberg|Laurie A Stone|Leah Louis-Prescott|Leah Mosier|Lee Ann Baronett|Leia Guccione|Lena Hansen|Lena Nguyen|Liam Keyek|Lily Donge|Lindsey Chew|Lindsey Schafferer|Lisa Jaccoma|Lisa Phillips|Lisa Sundeen|Lucas Toffoli|Lucy Kessler|Lucy Lu|Luke Liechty|Lynn Daniels|Madeline Tyson|Madeline Weir|Maggie Buford|Manfei He|Margaret McCall|Maria Hernandez|Marijke Jongbloed|Marj Webster|Mark Dyson|Mark Grundy|Mark Kelkenberg|Mark Porter|Mark Silberg|Marsha Barancik|Marshall Abramczyk|Martha Campbell|Martha Pickett|Mary McInnis-Efaw|Matthew Evans|Matthew Jungclaus|Matthew Popkin|Maura Lillis|Maura Mooney|Maximiliano Herrera|Megan Kerins|Megan Shean|Melanie Richard|Melissa Crogle|Melissa Roberts|Meng Wang|Meredith Cowart|Mia Reback|Michael Banker|Michael Bendewald|Michael Campton|Michael Gartman|Michael Henchen|Michael Liebman|Michael Roeth|Michael Tuckfelt|Michelle Steege|Mina Lee|Miranda  A Ballentine|Misty Burns|Molly Keleher|Nancy McKinney|Nathan Iyer|Nathaniel Buescher|Nicholas Amuchastegui|Nicholas Pesta|Nicholas Steel|Nicole Leonard|Nicole Martin|Nicole Simonelli|Nicole Snider|Nicole Tilley|Oliver Tully|Pamela Schuckies|Pamela Turpin|Paolo Natali|Patrick Molloy|Paul Bodnar|Philip Keuhn|Pintian Chen|Pranav Lakhina|Qian Sun|Qiyu Liu|Rachel Gold|Rachel T Hohensee|Rachit Kansal|Radhika Lalit|Raghav Muralidharan|Raghuram Sunnam|Rebecca Cole|Rebecca Esau|Rebecca Pimentel|Richard Li|Richard Ward|Richenda Van Leeuwen|Richlyn C Pavcek|Robert McIntosh|Roberto Zanchi|Robin Quarrier|Romy Purshouse|Rosanna Ren|Roy Torbert|Rudy Kahsar|Ruosida Lin|Ruoyao Zhang|Rushad Nanavatty|Ruth Karagacha|Ruthanne S Elkins|Ryan Laemel|Ryan Shea|S Chillara|Saarthak Narsipur|Sachiko H Graber|Sakhi Shah|Sally Jernigan-Smith|Sam Koebrich|Sam Mardell|Sam Peters|Samhita Shiledar|Samuel Hartnett|Sarah La Monaca|Savannah Bornstein|Scarlett Santana|Selena Wang-Thomas|Seth Coan|Sha Liu|Sharon Posner|Sheldon Mendonca|Shelley Backstrom|ShenShen Li|Sherri Billimoria|Shidong Zhang|Shravan Bhat|Shuyi Li|Sidney Jules|Siri Chillara|Sneha Ayyagari|Srilekha Sridhar|Stephanie Greene|Stephanie Krail|Stephen Abbott|Stephen Doig|Stephen Lezak|Stephen McShane|Stephen Mushegan|Suguru Ide|Sumin Wang|Suzanne Hopkins|Swaroop Atnoorkar|Sydney Hanson|Talor Gruenwald|Tamara Grbusic|Tessa Weiss|Testing Hedgehog|Thomas  Kirk|Thomas Doyle|Thomas Hancock|Thomas Kassel|Tian Qiao|Tierney Sheehan|Timithy Singer|Timothy Karfs|Ting Li|Titiaan Palazzi|Todd Zeranski|Tushar Khurana|Tyeler Matsuo|Tzu C Huang|Uday Varadarajan|Veronica Cortes|Victor Olgyay|Vinita Srinivasan|Virginia Lacy|Virginia Yang|Wendell Cathcart|Wendy Jaglom|Wendy McGill|Whitney Luhr|Whitney Mann|Xiang Li|Xilu Li|Xin Zhang|Xinyue Li|Y Liu|Yanjun Wu|Yi Ke|Yihan Hao|Yiyan Cao|Yu Ann Tan|Yuan Yao|Yuning Liu|Zach Alles|Zachary Subin|Zhe Wang|Zhixin Wang|Zihe Meng|Ziying Han|Zora Xiang'

In [23]:
all_names = all_names + "|Nathan Cummings|Agnis Li|Anna Ledden|Greg Hales|Rachel Hohensee|Li Ma"

In [24]:
df1['Match ID Names'] = df1['Memo'].str.findall(all_names).apply(return_first)

In [25]:
df1 = pd.merge(df1, EmployeeNameandID, on = 'External ID', how='left')

In [26]:
df1['Match ID Names'].replace('', np.nan, inplace=True)

In [27]:
df1['Name'].replace('', np.nan, inplace=True)

In [28]:
df1['Name'].fillna(df1['Match ID Names'], inplace=True)

In [29]:
len(df1)

73439

In [30]:
allocations = ['BONUS ALLOCATION', 'ADMIN ALLOCATION', 'PTO/HOLIDAY ALLOCATION']

In [31]:
all_allocations = '|'.join(allocations)

In [32]:
df1['ALLOCATION'] = df1['Memo'].str.findall(all_allocations).apply(return_first)

In [33]:
lookups = pd.read_excel('../Data/raw/lookups.xlsx')

In [34]:
lookups.head()

,GL Account,Rollup Account
0,5010 Contributions Revenue : Foundation Contri...,5000 Contributions Revenue
1,5015 Contributions Revenue : Campaign Foundati...,5000 Contributions Revenue
2,5020 Contributions Revenue : Individual Contri...,5000 Contributions Revenue
3,5025 Contributions Revenue : Campaign Corporat...,5000 Contributions Revenue
4,5030 Contributions Revenue : Endowment Contrib...,5000 Contributions Revenue

In [35]:
df1 = pd.merge(df1, lookups, on = 'GL Account', how='left')

In [36]:
df1['Account Digit'] = df1['GL Account'].astype('string').str[0]

In [37]:
df1['Amount'] = df1['Amount'].astype(float)

In [38]:
account_exceptions = ['To reclass', 'Reclass']

In [39]:
Accounting_Moves = '|'.join(account_exceptions)

In [40]:
closeout = 'close out'

In [41]:
df1['Accounting Adjustments'] = df1['Memo'].str.findall(Accounting_Moves).apply(return_first)

In [42]:
df1['Accounting Close Out'] = df1['Memo'].str.findall(closeout).apply(return_first)

In [43]:
df1['Vendor Contract Expiration Date'] = pd.to_datetime(df1['Vendor Contract Expiration Date'])

In [44]:
df1['Vendor Contract Expiration Date'] = df1['Vendor Contract Expiration Date'].dt.date

In [45]:
df1.to_excel('Output.xlsx')